.vision-seo-reveal {
    display: inline-block;
    outline: dashed 3px #964;
    margin: 5px;
}
.seo-css-warning, .seo-css-error, .seo-css-success {
    color: #fff;
    font-weight: bold;
}
.no-bold {
    font-weight: normal;
}
.seo-css-warning {
    background: orange;
}
.seo-css-error {
    background: red;
}
.seo-css-success {
    background: #00a651;
}
.seo-css-warning {
    background: orange;
}
.seo-css-error {
    background: red;
}
.seo-css-success {
    background: #00a651;
}
.seo-css-default {
    background: none;
    color: #333;
}
.vision-seo-bar {
    font: 14px arial,sans-serif;
    background: #f9f9f9;
    border-top: 1px solid #bebebe;
    height: 65px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    line-height: 45px;
    z-index: 9999;
    text-align: right;
}
.vision-seo-btn {
    border: 1px solid #c5c5c5;
    background: #ffff;
    color:#333;
    font-weight: bold;
    line-height: 35px;
    border-radius: 2px;
    margin: 0 10px;
    padding: 0 10px;
    position: relative;
    .material-icons {
        float: left;
        vertical-align: middle;
        line-height: 35px;
        margin-right: 10px;
    }
    .seo-css-error {
        background: none;
        color: red;
    }
    .seo-css-warning {
        background: none;
        color: orange;
    }
    .seo-css-success {
        background: none;
        color: #00a651;
    }
}
.vision-seo-score {
    display: inline-block;
    background: #e0e0e0;
    line-height: 37px;
    padding: 0 15px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
    border-radius: 3px;
    &.seo-css-error {
        background: red;
        color: #000;
    }
    &.seo-css-bad {
        background: orange;
        color: #000;
    }
    &.seo-css-warning {
        background: yellow;
        color: #000;
    }
    &.seo-css-almost {
        background: rgb(157, 255, 0);
        color: #000;
    }
    &.seo-css-sucess {
        background: #00a651;
        color: #000;
    }
    span {
        font-size: 1rem;
    }
}
.vision-seo-aside {
    position: fixed;
    top: 0;
    bottom: 65px;
    right: -350px;
    width: 340px;
    box-shadow: #c7c7c7 1px 0px 10px 0px;
    transition: all .3s linear;
    background: #fff;
    z-index: 9999;
    /*overflow: hidden;
    overflow-y: scroll*/
    &.open {
        right: 0;
    }
}
.vision-seo-content {
    position: absolute;
    top: 0;
    right: -340px;
    bottom: 0;
    width: 340px;
    overflow: hidden;
    overflow-y: auto;
    transition: all .3s linear;
    background: rgba(255, 255, 255, 0.5);
    &.selected {
        right: 0;
    }
}
.vision-seo-title {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid #dadada;
    margin-bottom: 30px;
    position:relative;
    .vision-seo-close {
        position: absolute;
        background: #f5f5f5;
        width: 30px;
        height: 30px;
        color: #bdbdbd;
        border-radius: 50%;
        line-height: 30px;
        padding: 0 5.5px;
        font-size: 1.2rem;
        right: 15px;
        top: 5px;
        cursor: pointer;
        transition: all .2s linear;
    }
    .vision-seo-close:active {
        background: #737373;
        color: #eee;
    }
    .vision-seo-close:hover {
        color: #333;
    }
    .vision-seo-close:active:hover {
        color: #eee;
    }
}
.vision-seo-item {
    padding: 10px;
    margin: 10px 14px;
    border-radius: 3px;
    span {
        float: right;
        background: #dedede;
        display: block;
        color: #333;
        padding: 3px 6px;
        margin-top: -3px;
        border-radius: 3px;
    }
}
.vision-seo-tips, .vision-seo-source {
    background: #dedede;
    border-radius: 3px;
    padding: 10px;
    margin: -8px 15px 10px;
    color: rgb(24, 24, 24);
    &::before, &::before {
        content: 'tips';
        display: block;
        background: #eee;
        width: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #757373;
        line-height: 19px;
        font-size: 0.7rem;
        margin: 0 0 10px;
    }
}
.vision-seo-source {
    font-family: 'Cousine', monospace;
    &::before {
        content: 'source';
        width: 60px;
    }
    code {
        margin: 0;
        background:#333;
        display: block;
        color: #eee;
        padding: 10px;
    }
}
.vision-seo-badge {
    position: absolute;
    height: 20px;
    line-height: 20px;
    padding: 1px 6px;
    border-radius: 3px;
    top: -10px;
    right: -10px;
    &.seo-css-error {
        background: red;
        color: #fff;
        
    }
    &.seo-css-warning {
        background: orange;
        color: #fff;
    }
    &.seo-css-success {
        background: #00a651;
        color: #fff;
    }
    .material-icons {
        float: none;
        vertical-align: initial;
        line-height: 1;
        margin: 0;
        font-size: 1rem;
        letter-spacing: -4px;
        margin-left: -4px;
    }
}
.vision-seo-checkbox, .vision-seo-checkbox[type="radio"] {
    position: relative;
    float: left;
    height: 17px;
    margin: 0 10px 0 0;
    width: 17px;
}
.vision-seo-checkbox[type="radio"] {
    border-radius: 50%;
}
.vision-seo-checkbox::before, .vision-seo-checkbox[type="radio"]::before {
    content: '';
    display: block;
    height: 17px;
    width: 17px;
    background: #fff;
}
.vision-seo-checkbox[type="radio"]::before {
    border-radius: 50%;
}
.vision-seo-checkbox:checked::after, .vision-seo-checkbox[type="radio"]:checked::after {
    content: '';
    display: block;
    height: 13px;
    width: 13px;
    margin: 2px;
    background: #333;
    position: absolute;
    top: 0;
}
.vision-seo-checkbox[type="radio"]:checked::after {
    border-radius: 50%;
}

.vision-seo-perf {
    margin: 0 14px;
    padding: 10px;
    position: relative;
}
.vision-seo-perf-item,
.vision-seo-perf-event-ready-label, .vision-seo-perf-event-load-label {
    position: relative;
    height: 30px;
    border-radius: 3px;
    background: #ede;
    margin: 10px 0;
    line-height: 30px;
}
.vision-seo-ms {
    background: #eee;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #757373;
    line-height: 19px;
    font-size: 0.7rem;
    margin: 5px 5px;
    float: right;
    padding: 0 5px;
}
.vision-seo-perf-bar {
    position: absolute;
    height: 100%;
    background: #333;
    top: 0
}
.vision-seo-perf-label {
    padding: 0 5px;
    width: 100px;
}

.vision-seo-perf-event-ready, .vision-seo-perf-event-load {
    width: 4px;
    position: absolute;
    height: 280px;
    top: 15px;
    background: blue;
    cursor: help;
}
.vision-seo-perf-event-load {
    background: red;
}
.vision-seo-perf-event-ready-label, .vision-seo-perf-event-load-label {
    color: blue;
    padding: 0 0 0 5px;
    background: #fafafa;
    border: 1px solid #eee;
}
.vision-seo-perf-event-load-label {
    color: red;
}

